In [1]:
!python data_preprocess.py --dataset_name yourika2023

Namespace(dataset_name='yourika2023', file_path='../data/peiyou/grade3_students_b_200.csv', kfold=5, maxlen=200, min_seq_len=3)
Start preprocessing data: yourika2023
Traceback (most recent call last):
  File "data_preprocess.py", line 42, in <module>
    dname, writef = process_raw_data(args.dataset_name, dname2paths)
  File "/home/ec2-user/anaconda3/envs/amazonei_pytorch_latest_p37/lib/python3.7/site-packages/pykt/preprocess/data_proprocess.py", line 37, in process_raw_data
    read_data_from_csv(readf, writef)
UnboundLocalError: local variable 'read_data_from_csv' referenced before assignment

In [5]:
import pandas as pd

as_2009 = pd.read_csv("../data/assist2009/skill_builder_data_corrected_collapsed.csv",encoding='latin',index_col=0)

/home/ec2-user/anaconda3/envs/amazonei_pytorch_latest_p37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
as_2009.to_csv("../data/assist2009/our_skill_builder.csv",encoding="utf-8")

In [7]:
pd.read_csv("../data/assist2009/our_skill_builder.csv")

/home/ec2-user/anaconda3/envs/amazonei_pytorch_latest_p37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,...,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
0,1,33022537,277618,64525,33139,51424,1,1,1,32454,...,0,3,32454,30799,NaN,26,0,NaN,1,1.0
1,2,33022709,277618,64525,33150,51435,1,1,1,4922,...,0,3,4922,30799,NaN,55,0,NaN,2,2.0
2,3,35450204,220674,70363,33159,51444,1,0,2,25390,...,0,3,42000,30799,NaN,88,0,NaN,1,1.0
3,4,35450295,220674,70363,33110,51395,1,1,1,4859,...,0,3,4859,30059,NaN,41,0,NaN,2,2.0
4,5,35450311,220674,70363,33196,51481,1,0,14,19813,...,3,4,124564,30060,NaN,65,0,0.0,3,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346855,401752,38214014,291495,96299,57830,108976,0,1,1,38234,...,0,2,38234,55692,200260.0,NaN,0,NaN,54,NaN
346856,401753,38214016,291495,96299,57843,109015,0,1,1,6500,...,0,0,6500,55693,200299.0,NaN,0,NaN,55,NaN
346857,401754,38214195,291503,96299,34577,54060,0,1,1,18344,...,0,3,18344,30677,NaN,0.8,0,NaN,56,NaN
346858,401755,38214196,291503,96299,34577,54061,0,1,1,12922,...,0,2,12922,30677,NaN,-6,0,NaN,57,NaN
346859,401756,38214198,291503,96299,34577,54062,0,0,9,36047,...,1,3,163422,30677,NaN,-6.8,0,0.0,58,NaN